{% extends 'layout.html' %}
{% block title %}Documentation
{% endblock %}
{% block documentation_active %}active
{% endblock %}


{% block content %}

<div class="d-flex flex-row row row-wp" style="max-width: 100vw; margin: 0;">
    <div class="col-md-4" style="min-height: 100%; margin: 0 0 0 0; padding: 0 0 0 0; z-index: 0;">
        <div class="col-md-4" style="height: 3rem;">

        </div>
        <div class="px-3 py-2 bg-light mt-4 mx-4 rounded"
            style="z-index: 10; position: sticky; top: 1.5rem; overflow-y: scroll;">
            <h4 class="text-center my-2">Index</h4>
            <ul style="list-style-type: none; padding: 0px">
                <li class="mt-1">
                    <a href="#form-section">How does the form work</a>
                </li>
                <li class="mt-1">
                    <ul class="pl-3" style="list-style-type: none; padding: 0px">
                        <li class="mt-1">
                            <a href="#form-files-section">File or text input</a>
                        </li>
                        <li class="mt-1">
                            <a href="#form-testing-section">Testing the output</a>
                        </li>
                        <li class="mt-1">
                            <a href="#form-wordnet-section">Choosing wordnet categories</a>
                        </li>
                    </ul>
                </li>

                <li class="mt-1">
                    <a href="#output-section">How does the output look</a>
                </li>
                <li class="mt-1">
                    <ul class="pl-3" style="list-style-type: none; padding: 0px">
                        <li class="mt-1">
                            <a href="#output-standard-section">Standard output</a>
                        </li>
                        <li class="mt-1">
                            <a href="#output-testing-section">Testing output</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- <div class="col-md-4" style="z-index: -2; min-height: 100%;"></div> -->
    <div class="col-md-8 p-3">
        <h1 class="text-center my-5">Documentation</h1>
        <h2 id="form-section">How does the form work</h2>
        <p>There are multiple options available using the form to wikify your text. Each option is discussed below.
        </p>
        <h4 id="form-files-section">File or text input</h4>

        <p>
            There are two methods of giving input to the form to wikify your text. This can be in the form of a .pos
            file, which already has the right formatting, or you can enter your text in the textarea. This text will be
            converted to the same format as a posfile, so it can be used by the same functions.
        </p>
        <h4 id="form-testing-section">Testing the output</h4>
        <p>
            You can test the output that is created by the named entity recognizer and the wikifier by uploading your
            own annotated .ent file. This file has the same formatting as the .pos file, however after every token that
            is a named entity, the kind of named entity and the url to its wikipage are added. Uploading this file will
            compare the .ent file created by the wikifier with the one you uploaded. The output page will provide a
            confusion matrix, the f-score and the cohen-kappa-score for the named entities tags and the accuracy for the
            wikipedia urls.
        </p>
        <h4 id="form-wordnet-section">Choosing wordnet categories</h4>
        <p>
            Stanford Core NLP and Wordnet are responsible for tagging the named entities. Wordnet does the animal, sport
            and entertainment categories by default. This can be changed, however. You can add categories that wordnet
            should also look for (do keep in mind that adding categories will slow down the process of creating output).
            Core NLP automatically tags all categories, but is not great at recognizing animals, sport and
            entertainment.
        </p>
        <h2 id="output-section">How does the output look</h2>
        <h4 id="output-standard-section">Standard output</h4>
        <p>
            Standard output is created when you are not testing the system. The standard output contains a text with
            anchor tags, that will redirect you to the corresponding Wikipedia page. A download button is also present.
            With that button you can download the created .ent file. Lastly, all the named entities are shown inside a
            table, with the corresponding wikipedia url and the position of that named entity in the text.
        </p>
        <h4 id="output-testing-section">Testing output</h4>
        <p>
            The output when you have tested the system is slightly different. It contains all the elements the standard
            output contains as well, but two extra elements are added. A confusion matrix showing the differences
            between the created file and the annotated file. Some scores regarding the performance of the system is the
            second extra element. These scores include the f-scores and cohen-kappa-score for the named entity tags and
            also the accuracy score for the wikipedia urls.
        </p>
    </div>

</div>


{% endblock %}