{% extends 'layout.html' %}
{% block title %}Documentation
{% endblock %}
{% block documentation_active %}active
{% endblock %}


{% block content %}

    <div class="d-flex flex-row row row-wp" style="max-width: 100vw; margin: 0;">
        <div class="col-md-4" style="min-height: 100%; margin: 0 0 0 0; padding: 0 0 0 0; z-index: 0;">
            <div class="p-3 bg-light mt-3 mx-3 rounded" style="z-index: 10; position: sticky; top: 1rem; overflow-y: scroll;">
                <h4 class="text-center mb-3">Index</h4>
                <ul style="list-style-type: none; padding: 0px">
                    <li class="mt-2">
                        <a href="#setup-section">How to set up the website</a>
                    </li>
                    <li class="mt-2">
                        <ul class="pl-3" style="list-style-type: none; padding: 0px">
                            <li class="mt-2">
                                <a href="#setup-section">Setting up the server properties</a>
                            </li>
                            <li class="mt-2">
                                <a href="#setup-model-section">Run the Core NLP server</a>
                            </li>
                        </ul>
                    </li>
                    <li class="mt-2">
                        <a href="#form-section">How does the form work</a>
                    </li>
                    <li class="mt-2">
                        <ul class="pl-3" style="list-style-type: none; padding: 0px">
                            <li class="mt-2">
                                <a href="#form-files-section">Run with file input</a>
                            </li>
                            <li class="mt-2">
                                <a href="#form-text-section">Run with file input</a>
                            </li>
                        </ul>
                    </li>

                    <li class="mt-2">
                        <a href="#output-section">How does the output look</a>
                    </li>
                    <li class="mt-2">
                        <ul class="pl-3" style="list-style-type: none; padding: 0px">
                            <li class="mt-2">
                                <a href="#output-download-section">Download ent file</a>
                            </li>
                            <li class="mt-2">
                                <a href="#output-text-section">See the output text</a>
                            </li>
                        </ul>
                    </li>
                    


                </ul>
            </div>
        </div>
        <!-- <div class="col-md-4" style="z-index: -2; min-height: 100%;"></div> -->
        <div class="col-md-8 p-3">
            <h1 class="text-center my-5">Documentation</h1>
            <h2 id="setup-section">How to set up the website</h2>
            <h4 id="setup-model-section">Setting up the server properties</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet ante vel nisi pulvinar facilisis vitae non odio. Sed tempor arcu sit amet orci efficitur, in iaculis arcu commodo. Cras urna sapien, suscipit ut ullamcorper sed, sagittis et nisl. Sed turpis ligula, aliquam nec massa vitae, posuere ullamcorper odio. Vestibulum dui orci, dignissim in porta ut, convallis quis urna. Suspendisse ut diam et tortor laoreet efficitur vel ac erat. Aenean auctor lectus libero, et fermentum odio convallis eu. Maecenas dui purus, tincidunt nec bibendum a, luctus nec nunc. Duis mi ipsum, rhoncus ut turpis a, volutpat dapibus risus. Praesent viverra nibh sem, in bibendum arcu mattis consequat. Mauris eget dolor commodo, mollis orci vitae, vulputate sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi. Aliquam porttitor magna sit amet odio ultrices ultricies vel sit amet tellus. Sed in consequat orci.
                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                    Cras venenatis semper ultrices. Vivamus neque lacus, volutpat sit amet tortor non, sagittis rhoncus neque. Curabitur vehicula lorem non volutpat cursus. Nunc ultrices, tellus ut euismod scelerisque, libero purus sodales velit, ut posuere eros enim vehicula leo. Nam molestie sagittis feugiat. Mauris felis odio, ultricies euismod sapien eu, posuere volutpat elit. Vivamus tincidunt libero et turpis dignissim aliquam.


            </p>
            <h4 id="setup-run-corenlp-section">Run the Core NLP server</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet ante vel nisi pulvinar facilisis vitae non odio. Sed tempor arcu sit amet orci efficitur, in iaculis arcu commodo. Cras urna sapien, suscipit ut ullamcorper sed, sagittis et nisl. Sed turpis ligula, aliquam nec massa vitae, posuere ullamcorper odio. Vestibulum dui orci, dignissim in porta ut, convallis quis urna. Suspendisse ut diam et tortor laoreet efficitur vel ac erat. Aenean auctor lectus libero, et fermentum odio convallis eu. Maecenas dui purus, tincidunt nec bibendum a, luctus nec nunc. Duis mi ipsum, rhoncus ut turpis a, volutpat dapibus risus. Praesent viverra nibh sem, in bibendum arcu mattis consequat. Mauris eget dolor commodo, mollis orci vitae, vulputate sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi. Aliquam porttitor magna sit amet odio ultrices ultricies vel sit amet tellus. Sed in consequat orci.
                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                    Cras venenatis semper ultrices. Vivamus neque lacus, volutpat sit amet tortor non, sagittis rhoncus neque. Curabitur vehicula lorem non volutpat cursus. Nunc ultrices, tellus ut euismod scelerisque, libero purus sodales velit, ut posuere eros enim vehicula leo. Nam molestie sagittis feugiat. Mauris felis odio, ultricies euismod sapien eu, posuere volutpat elit. Vivamus tincidunt libero et turpis dignissim aliquam.


            </p>
            <h2 id="form-section">How does the form work</h2>
            <h4 id="form-files-section">Run with file input</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet ante vel nisi pulvinar facilisis vitae non odio. Sed tempor arcu sit amet orci efficitur, in iaculis arcu commodo. Cras urna sapien, suscipit ut ullamcorper sed, sagittis et nisl. Sed turpis ligula, aliquam nec massa vitae, posuere ullamcorper odio. Vestibulum dui orci, dignissim in porta ut, convallis quis urna. Suspendisse ut diam et tortor laoreet efficitur vel ac erat. Aenean auctor lectus libero, et fermentum odio convallis eu. Maecenas dui purus, tincidunt nec bibendum a, luctus nec nunc. Duis mi ipsum, rhoncus ut turpis a, volutpat dapibus risus. Praesent viverra nibh sem, in bibendum arcu mattis consequat. Mauris eget dolor commodo, mollis orci vitae, vulputate sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi. Aliquam porttitor magna sit amet odio ultrices ultricies vel sit amet tellus. Sed in consequat orci.
                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                    Cras venenatis semper ultrices. Vivamus neque lacus, volutpat sit amet tortor non, sagittis rhoncus neque. Curabitur vehicula lorem non volutpat cursus. Nunc ultrices, tellus ut euismod scelerisque, libero purus sodales velit, ut posuere eros enim vehicula leo. Nam molestie sagittis feugiat. Mauris felis odio, ultricies euismod sapien eu, posuere volutpat elit. Vivamus tincidunt libero et turpis dignissim aliquam.


            </p>
            <h4 id="form-text-section">Run with file input</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet ante vel nisi pulvinar facilisis vitae non odio. Sed tempor arcu sit amet orci efficitur, in iaculis arcu commodo. Cras urna sapien, suscipit ut ullamcorper sed, sagittis et nisl. Sed turpis ligula, aliquam nec massa vitae, posuere ullamcorper odio. Vestibulum dui orci, dignissim in porta ut, convallis quis urna. Suspendisse ut diam et tortor laoreet efficitur vel ac erat. Aenean auctor lectus libero, et fermentum odio convallis eu. Maecenas dui purus, tincidunt nec bibendum a, luctus nec nunc. Duis mi ipsum, rhoncus ut turpis a, volutpat dapibus risus. Praesent viverra nibh sem, in bibendum arcu mattis consequat. Mauris eget dolor commodo, mollis orci vitae, vulputate sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi. Aliquam porttitor magna sit amet odio ultrices ultricies vel sit amet tellus. Sed in consequat orci.
                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                    Cras venenatis semper ultrices. Vivamus neque lacus, volutpat sit amet tortor non, sagittis rhoncus neque. Curabitur vehicula lorem non volutpat cursus. Nunc ultrices, tellus ut euismod scelerisque, libero purus sodales velit, ut posuere eros enim vehicula leo. Nam molestie sagittis feugiat. Mauris felis odio, ultricies euismod sapien eu, posuere volutpat elit. Vivamus tincidunt libero et turpis dignissim aliquam.


            </p>
            <h2 id="output-section">How does the output look</h2>
            <h4 id="output-download-section">Download ent file</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet ante vel nisi pulvinar facilisis vitae non odio. Sed tempor arcu sit amet orci efficitur, in iaculis arcu commodo. Cras urna sapien, suscipit ut ullamcorper sed, sagittis et nisl. Sed turpis ligula, aliquam nec massa vitae, posuere ullamcorper odio. Vestibulum dui orci, dignissim in porta ut, convallis quis urna. Suspendisse ut diam et tortor laoreet efficitur vel ac erat. Aenean auctor lectus libero, et fermentum odio convallis eu. Maecenas dui purus, tincidunt nec bibendum a, luctus nec nunc. Duis mi ipsum, rhoncus ut turpis a, volutpat dapibus risus. Praesent viverra nibh sem, in bibendum arcu mattis consequat. Mauris eget dolor commodo, mollis orci vitae, vulputate sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi. Aliquam porttitor magna sit amet odio ultrices ultricies vel sit amet tellus. Sed in consequat orci.
                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                    Cras venenatis semper ultrices. Vivamus neque lacus, volutpat sit amet tortor non, sagittis rhoncus neque. Curabitur vehicula lorem non volutpat cursus. Nunc ultrices, tellus ut euismod scelerisque, libero purus sodales velit, ut posuere eros enim vehicula leo. Nam molestie sagittis feugiat. Mauris felis odio, ultricies euismod sapien eu, posuere volutpat elit. Vivamus tincidunt libero et turpis dignissim aliquam.


            </p>
            <h4 id="output-text-section">See the text</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet ante vel nisi pulvinar facilisis vitae non odio. Sed tempor arcu sit amet orci efficitur, in iaculis arcu commodo. Cras urna sapien, suscipit ut ullamcorper sed, sagittis et nisl. Sed turpis ligula, aliquam nec massa vitae, posuere ullamcorper odio. Vestibulum dui orci, dignissim in porta ut, convallis quis urna. Suspendisse ut diam et tortor laoreet efficitur vel ac erat. Aenean auctor lectus libero, et fermentum odio convallis eu. Maecenas dui purus, tincidunt nec bibendum a, luctus nec nunc. Duis mi ipsum, rhoncus ut turpis a, volutpat dapibus risus. Praesent viverra nibh sem, in bibendum arcu mattis consequat. Mauris eget dolor commodo, mollis orci vitae, vulputate sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi. Aliquam porttitor magna sit amet odio ultrices ultricies vel sit amet tellus. Sed in consequat orci.
                                                                                                                                                                                                                                                    
                                                                                                                                                                                                                                                    Cras venenatis semper ultrices. Vivamus neque lacus, volutpat sit amet tortor non, sagittis rhoncus neque. Curabitur vehicula lorem non volutpat cursus. Nunc ultrices, tellus ut euismod scelerisque, libero purus sodales velit, ut posuere eros enim vehicula leo. Nam molestie sagittis feugiat. Mauris felis odio, ultricies euismod sapien eu, posuere volutpat elit. Vivamus tincidunt libero et turpis dignissim aliquam.


            </p>
        </div>

    </div>


{% endblock %}
